debug: false
server:
  port: 8000

spring:
  application:
    name: sire-project
  output:
    ansi:
      enabled: ALWAYS
  datasource:
    url: jdbc:postgresql://debian:5432/sire
    username: gitea
    password: gitea
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 50
    show-sql: false
    hibernate:
      ddl-auto: create-drop
      format_sql: false
      use_sql_comments: false
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false
  thymeleaf:
    enabled: true
    cache: false
    encoding: UTF-8
    mode: HTML
    check-template-location: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: 1205hugopenayo@gmail.com
    password: xvnhlntukpotjson
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

internal:
  front:
    email-verification-url: "http://localhost:4200/auth/verify-email?token=%s"
    password-reset-url: "http://localhost:4200/auth/new-password?token=%s"
  whitelisted-endpoints:
    # Documentación y Swagger
    - "/docs.html"
    - "/swagger-ui/index.html"
    - "/swagger-ui/**"
    - "/v3/api-docs/**"

    # Autenticación y registro
    - "/api/v1/auth/logout"
    - "/api/v1/auth/register"
    - "/api/v1/auth/login"
    - "/api/v1/auth/refresh"
    - "/api/v1/auth/verification-email"
    - "/api/v1/auth/verify-email"
    - "/api/v1/auth/forgot-password"
    - "/api/v1/auth/reset-password/**"
  jwt:
    secret: 5f7654317a372c237c67662359776f767a3e3b3e7971482f5878354e5d
  storage:
    endpoint: http://debian:9000
    access-key: KNwdbi0yGWzLkpPXlfKw
    secret-key: 0OVsg1V5lexoqaJPwEytCdl4m11Y0X5EZlCySqLD
    items-bucket: items-images
    profile-images-bucket: profile-images
